<ion-view>
  <div class="bar bar-header bar-stable">
    <button class="button button-icon icon ion-ios-arrow-left" ui-sref="login"></button>
  </div>
  <ion-content>
      <div class="list list-inset">
        <div class="text-center" style="margin-top: 50px">
          <img src="img/logo.PNG"></img>
        </div>
        <div class="item item-divider text-center">
          Contatos
        </div>
        <a class="item item-icon-left" href="mailto:walissonjds@gmail.com">
          <i class="icon ion-ios-email-outline"></i>
          suporte.estacionar@gmail.com
        </a>
        <a class="item item-icon-left" href="whatsapp://app">
          <i class="icon ion-social-whatsapp-outline"></i>
          (62) 99105-7398
        </a>
        <a class="item item-icon-left" href="whatsapp://app">
          <i class="icon ion-social-whatsapp-outline"></i>
          (62) 98194-9655
        </a>
        
      </div>
  </ion-content>
</ion-view>