<ion-view>
  <ion-content>
      <div class="text-center" style="margin-top: 50px">
        <img src="img/logo.PNG" ></img>
      </div>
      <div class="row">
        <div class="col">
          <span class="input-label label-login">Usuário:</span>
        </div>
        <div class="col col-67">
          <input type="text" ng-model="data.login" class="campo-login">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="input-label label-login">Senha:</span>
        </div>
        <div class="col col-67">
            <input type="password" ng-model="data.senha" class="campo-login">
        </div>
      </div>
      <div class="text-center">
        <button class="button button-positive" style="width: 100px; margin-left: 10px" ng-click="entrar()">Entrar</button>
      </div>
      <br/>
      <br/>
      <div class="text-center">
        <a ui-sref="ajuda">Problemas?</a>
      </div>
      <br/>
      <br/>
  </ion-content>
  <div class="bar bar-footer bar-stable">
    <div class="title">Versão: {{versao}}</div>
  </div>
</ion-view>