<ion-view>
	<ion-nav-title>
		Fluxo Caixa - {{data | date: 'dd/MM/yyyy'}}
	</ion-nav-title>
	<ion-nav-buttons side="left">
		<button class="button button-icon icon ion-ios-arrow-left" ng-click="navegarDataAnterior()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
		<button class="button button-icon icon ion-ios-arrow-right" ng-click="navegarDataProxima()" ng-if="mostrarDataProxima()"></button>
    </ion-nav-buttons>
  <ion-content>
  	<div class="list">
  		<div class="item item-divider text-center">
	    	<div class="row">
	    		<div class="col">
	    			Receita
	    		</div>
	    		<div class="col">
	    			Despesa
	    		</div>
	    	</div>
	    </div>
	    <div class="item">
		    <div class="row">
		    	<div class="col text-right">
		    		<ion-list>
		    			<div ng-repeat="receita in receitas">
		    				<ion-item class="item-stable"
				                    ng-click="toggleGroup(receita)"
				                    ng-class="{active: isGroupShown(receita)}">
				              <i class="icon" ng-class="isGroupShown(receita) ? 'ion-minus' : 'ion-plus'"></i>
				            	&nbsp;
				            	<span class="balanced">{{receita.valor_pago | currency}}</span>
				          	</ion-item>
				          	<ion-item class="item-accordion"
				                    ng-show="isGroupShown(receita)">
				            	<div>
									<p><span><strong>Placa:</strong> {{receita.placa}}</span></p>
									<p><span><strong>Entrada:</strong> {{receita.datahora_entrada | date: 'HH:mm'}}</span><p>
									<p><span><strong>Saída:</strong> {{receita.datahora_saida | date: 'HH:mm'}}</span></p>
								</div>
          					</ion-item>
		    			</div>
		    		</ion-list>
		    	</div>

		    	<div class="col text-right">
		    		<ion-list>
		    			<div ng-repeat="despesa in despesas">
		    				<ion-item class="item-stable"
				                    ng-click="toggleGroup(despesa)"
				                    ng-class="{active: isGroupShown(despesa)}">
				              <i class="icon" ng-class="isGroupShown(despesa) ? 'ion-minus' : 'ion-plus'"></i>
				            	&nbsp;
				            	<span class="assertive">{{despesa.valor | currency}}</span>
				          	</ion-item>
				          	<ion-item class="item-accordion"
				                    ng-show="isGroupShown(despesa)">
				                   <div>
				            			<p><span><strong>Hora:</strong> {{despesa.data | date: 'HH:mm'}}</span></p>
				            			<p><span><strong>Desc:</strong> {{despesa.descricao}}</span></p>
				                   </div>
          					</ion-item>
		    			</div>
		    		</ion-list>
		    		
		    	</div>
			</div>
	    </div>
	    <div class="item item-divider text-right">
	    	<div class="row">
	    		<div class="col balanced" style="margin-right: 10px;">
	    			{{total_receitas | currency}}
	    		</div>
	    		<div class="col assertive" style="margin-right: 15px;">
	    			{{total_despesas | currency}}
	    		</div>
	    	</div>
	    </div>
	    <div class="item item-divider">
	    	<div class="row">
	    		<div class="col text-right" style="margin-right: 15px;">
	    			Total: <span ng-class="total > 0 ? 'balanced' : 'assertive'">{{total | currency}}</span>
	    		</div>
	    	</div>
	    </div>
  	</div>
  	
  </ion-content>
</ion-view>
