<ion-view view-title="Configurações">
  <ion-content >
    <form class="list">
      <label class="item item-input">
        <span class="input-label">Usuário</span>
        <span class="item-note">{{usuario.nome}}</span>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nome do estacionamento</span>
        <input type="text" ng-model="container.nome" >
      </label>
      <label class="item item-input" style="display:none">
        <span class="input-label">Total de vagas:</span>
        <input type="text" ng-model="container.total_vagas">
      </label>
      <label class="item item-input">
        <span class="input-label">Tolerância (minutos)</span>
        <input type="tel" ng-model="container.tolerancia" class="campo-alinhado-direita" >
      </label>
      <li class="item item-toggle">
         Cobrar horas quebradas?
         <label class="toggle">
           <input type="checkbox" ng-model="container.cobrar_horas_quebradas">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <label class="item item-input">
        <span class="input-label">Multa perda de cartão</span>
        <input type="tel" ng-model="container.multa_perda_cartao" class="campo-alinhado-direita" ui-money-mask>
      </label>
      <div class="item item-divider">
        Carro Pequeno
      </div>
      <label class="item item-input">
        <span class="input-label">Valor da primeira hora</span>
        <input type="tel" ng-model="container.carro.valor_primeira_hora" class="campo-alinhado-direita" ui-money-mask>
      </label>
      <label class="item item-input">
        <span class="input-label">Valor da hora adicional</span>
        <input type="tel" ng-model="container.carro.valor_hora_adicional" class="campo-alinhado-direita" ui-money-mask>
      </label>
      <div class="item item-divider">
        Camionete
      </div>
      <label class="item item-input">
        <span class="input-label">Valor da primeira hora</span>
        <input type="tel" ng-model="container.camionete.valor_primeira_hora" class="campo-alinhado-direita" ui-money-mask>
      </label>
      <label class="item item-input">
        <span class="input-label">Valor da hora adicional</span>
        <input type="tel" ng-model="container.camionete.valor_hora_adicional" class="campo-alinhado-direita" ui-money-mask>
      </label>
      <div class="item item-divider">
        Moto
      </div>
      <label class="item item-input">
        <span class="input-label">Valor da primeira hora</span>
        <input type="tel" ng-model="container.moto.valor_primeira_hora" class="campo-alinhado-direita" ui-money-mask>
      </label>
      <label class="item item-input">
        <span class="input-label">Valor da hora adicional</span>
        <input type="tel" ng-model="container.moto.valor_hora_adicional" class="campo-alinhado-direita" ui-money-mask>
      </label>
      
    </form>
    <button class="button button-balanced button-block icon-right ion-android-done" ng-click="salvar()">Salvar</button>
  </ion-content>
</ion-view>
