<ion-view view-title="Registro de despesa">
  <ion-content class="padding">
    <form class="list">
    	<label class="item item-input">
        	<span class="input-label">Data:</span>
        	<span class="item-note">{{container.data | date : 'dd/MM/yyyy'}}</span>
      		</label>
      	<label class="item item-input">
        	<span class="input-label">Descrição:</span>
        	<input type="text" ng-model="container.descricao">
      	</label>
      	<label class="item item-input">
        	<span class="input-label">Valor:</span>
        	<input type="text" ng-model="container.valor" ui-money-mask>
      	</label>
    </form>
    <button class="button button-balanced  button-block icon-right ion-android-done" ng-click="salvar()">Salvar</button>
  </ion-content>
</ion-view>
