<ion-item id="saDa-list-item7">Cartão:
	<span class="item-note">{{saida.cartao}}</span>
</ion-item>
<ion-item id="saDa-list-item9">Placa:
	<span class="item-note">{{saida.placa}}</span>
</ion-item>
<ion-item id="saDa-list-item10">Entrada:
	<span class="item-note">{{saida.datahora_entrada | date: 'dd/MM/yyyy HH:mm'}}</span>
</ion-item>
<ion-item id="saDa-list-item11">Saída:
	<span class="item-note">{{saida.datahora_saida | date: 'dd/MM/yyyy HH:mm'}}</span>
</ion-item>
<ion-item id="saDa-list-item13">Total de tempo:
	<span class="item-note">{{saida.total_tempo}}</span>
</ion-item>
<ion-item id="saDa-list-item12">Total a pagar:
	<span class="item-note">{{saida.total_pagar | currency}}</span>
</ion-item>