<ion-view view-title="Início">
  <ion-content class="padding">
    <div class="card">
    	<div class="item item-divider text-center">
    		{{estacionamento.nome}}
    	</div>
    	<div class="row">
    		<div class="col text-center">
		    	Vagas Ocupadas: <br/><span class="fonte_vagas">{{estacionamento.vagas_ocupadas}}</span>
		    </div>
	    </div>
    </div>
	
	<div class="row">
		<div class="col"> 
	    	<button class="button icon-center ion-plus button-balanced button-large" style="float:right; width: 120px; font-size:40px" ng-click="registrarEntrada()"><span style="font-size: 20px; display:block">Entrada</span></button>
		</div>
		<div class="col">
	    	<button class="button icon-center ion-minus button-assertive button-large" style="width: 120px; font-size:40px" ng-click="registrarSaida()"><span style="font-size: 20px; display:block">Saída</span></button>
		</div>
    </div>
  </ion-content>
</ion-view>
