<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-bottom tabs-color-active-positive tabs-bottom">

  <!-- Inicio Tab -->
  <ion-tab title="Início" icon="ion-android-home" href="#/tab/inicio" >
    <ion-nav-view name="tab-inicio"></ion-nav-view>
  </ion-tab>

  <!-- Entrada Tab -->
  <ion-tab title="Entrada" icon="ion-android-car" href="#/tab/entrada" >
    <ion-nav-view name="tab-entrada"></ion-nav-view>
  </ion-tab>

  <!-- Saída Tab -->
  <ion-tab title="Despesa" icon="ion-cash" href="#/tab/despesa" >
    <ion-nav-view name="tab-despesa"></ion-nav-view>
  </ion-tab>

  <!-- Relatorio Tab -->
  <ion-tab title="Relatório" icon="ion-ios-list" href="#/tab/relatorio" >
    <ion-nav-view name="tab-relatorio"></ion-nav-view>
  </ion-tab>

  <!-- Configurações Tab -->
  <ion-tab title="Configurações" icon="ion-android-options" href="#/tab/configuracoes" >
    <ion-nav-view name="tab-configuracoes"></ion-nav-view>
  </ion-tab>


</ion-tabs>
