/* Empty. Add your own CSS if you like */
.campo_placa {
	font-size: 25px !important;
    width: 39px !important;
    text-align: center;
    text-transform: uppercase !important;
    display: inline-block !important;
    border-color: #ddd !important;
    border-width: 1px !important;
    border-style: solid !important;
    color: #444 !important;
    text-align: center !important;
    padding: 0px !important;
    margin: 0px !important;
    vertical-align: top !important;
    height: 50px !important;
}

.fonte_vagas {
	font-size: 24px;
	font-weight: bold;
}

.item-complex .item-content, .item-radio .item-content {
	background-color: #387ef5;
    color: #ffffff;
}

.item-radio input:checked + .radio-content .item-content {
	background-color: #285db5;
}

.item-radio .radio-icon {
	color: #ffffff;
}

toggle .toggle-header {
    height: 30px;
    cursor: pointer;
}

accordion > toggle > div > div > span {
    font-size: 16px;
    cursor: pointer;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}